SECRET_KEY=change-me
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DATABASE_URL=sqlite:///db.sqlite3
DJANGO_SUPERUSER_USERNAME=operator
DJANGO_SUPERUSER_EMAIL=operator@example.com
DJANGO_SUPERUSER_PASSWORD=change-me
